/* CSS*/
/* Site NTM 2.0 */
/* ---------------Balise-générale---------------- */
body {
    font-family: "Gill Sans MT","Gill Sans MT Medium", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

a {
    text-decoration: none;
    color: inherit;
}

.ntm {
    color: lightseagreen;
    font-weight: bold;
}

/* ------------------Contenue-------------------- */

main h1{
    color: lightseagreen;
    text-align: center;
    font-size: 5vw;
}

section {
    padding-left: 2vw;
    display: block;
    width: 96vw;
    font-size: 1.8vw;
    line-height: 2.6vw;
}

article {
    padding-left: 2vw;
    display: block;
    width: 96vw;
    font-size: 1.8vw;
    line-height: 2.6vw;
}

.no-dot{
    list-style-type: none;
    font-size: 1.4vw;
    line-height: 1.9vw;
}
section img[alt~="Affiche"] {
    width: 20vw;
    margin-top: 8vw;
    margin-right: 2vw;
    margin-left: 2vw;
    float: right;
    border: lightseagreen 1vw solid;
    border-radius: 3vw;
}
.no-dot img {
    height: 3vw;
    vertical-align: middle;
}



/* }
@media only screen and (max-width: 768px){
body {
	font-family: "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.nav{
	position: relative;
	display: inline-block;
}
} */