/* --------------------Header-------------------- */
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 18%;
}

.menu {
    display: inline-block;
    position: relative;
    text-align: center;
    padding: 0 1vw;
    font-size: 2vw/*1.6em*/;
    vertical-align: top;
}

.menu:hover {
    color: lightgray;
}
.dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 0 1vw;
    font-size: 2vw/*1.6em*/;
    vertical-align: top;
}
.dropbtn {
    display: inline-block;
    position: relative;
    text-align: center;
    padding: 0 1vw;
    font-size: 2vw/*1.6em*/;
    vertical-align: top;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    color: black;
    background-color: white;
    position: absolute;
    min-width: 20vw;
    z-index: 1;
    border: 0.4vw black solid;
    border-radius: 2vw;
}

.dropdown-content a {
    padding: 12px 16px;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: lightgrey;
    border-radius: 1.8vw;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

#now {
    color: lightseagreen;
}

#now2 {
    color: lightseagreen;
}

hr {
    border: 0.2vh solid #222222;
    width:90%;
}