/* CSS*/
/* Site NTM 2.0 */
/* ---------------Balise-générale---------------- */
body {
    font-family: "Gill Sans MT","Gill Sans MT Medium", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

a {
    text-decoration: none;
    color: inherit;
}

.ntm {
    color: lightseagreen;
    font-weight: bold;
}

/* ------------------Contenue-------------------- */

main h1{
    color: lightseagreen;
    text-align: center;
    font-size: 5vw;
}

.article {
    display: inline-block;
    width: 45vw;
    height: 55vh;
    font-size: 1.8vw;
}

main img {
    margin-top: 4vw;
    display: inline-block;
    vertical-align: top;
    width: 48vw;
    height: calc(43vw*0.75);
    float: right;
    text-align: center;
    border: lightseagreen 1vw solid;
    border-radius: 3vw;
}

/* }
@media only screen and (max-width: 768px){
body {
	font-family: "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.nav{
	position: relative;
	display: inline-block;
}
} */