@media only screen and (max-width: 600px) {
    /* ---------------Balise-générale---------------- */
    body {
        font-family: "Gill Sans MT", "Gill Sans MT Medium", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    }

    main {
        overflow: hidden;
        margin-left: -2vw;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .ntm {
        color: lightseagreen;
        font-weight: bold;
    }

    /* ------------------Contenue-------------------- */
    section {
        padding-left: 2vw;
        display: block;
        width: 96vw;
        font-size: 5vw;
        margin-bottom: 5vw;
    }
}

@media only screen and (min-width: 601px) {
    /* ---------------Balise-générale---------------- */
    body {
        font-family: "Gill Sans MT", "Gill Sans MT Medium", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .ntm {
        color: lightseagreen;
        font-weight: bold;
    }

    /* ------------------Contenue-------------------- */

    section {
        padding-left: 2vw;
        display: block;
        width: 96vw;
        font-size: 1.8vw;
        line-height: 2.6vw;
    }

}