/*CSS Site NTM 2.0
Help font-size responsive
https://github.com/wadim/responsive-font-size*/
/*@media only screen and (min-width: 768px) {*/

body {
  font-family: "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
	
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 18%;
}

.menu {
	display: inline-block;
	text-align: center;
	padding: 0 1vw;	
	font-size: 2vw/*1.6em*/;
	vertical-align: top;
}
.menu:hover{
	color: lightgray;
}

.nav{
	display: flex;
	justify-content: center;
	align-items: center;
}

#now{
	color: lightseagreen;
}

.main{
	position: relative;
	text-align: center;
	color: white;
}

.titre {
	position: absolute;
	top: 28%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 5.5vw/*calc(0.85em + 4vw)*/;
}

.motd {
	position: absolute;
	top: 57%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 2.5vw/*2em*/;
}

.bouton{
	position: absolute;
	top: 85%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 2.4vw/*1.7em*/;
	color: yellow;
	border-style: solid;
	border-width: 0.1em;
	border-color: white;
	padding: 0 0.1em;
}

.deroulant{
	display: none;
	text-align: left;
	color: black;
}

.deroulant:hover{
	color: lightgrey;
}

.menu:hover .deroulant{
	display: block;
}

footer {
	background-color: #222222;
	display: block;
}

.navi {
	vertical-align: top;
	display: inline-block;
	color: white;
}

.navi > h1{
	color: lightseagreen;
	font-size: 1.5vw;
	font-weight: normal;
	text-align: center;
}

.lien {
	vertical-align: top;
	display: inline-block;
	color: white;
}

.lien > h1{
	color: lightseagreen;
	font-size: 1.5vw;
	font-weight: normal;
	text-align: center;
}
/*
}
@media only screen and (max-width: 768px){
body {
	font-family: "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.nav{
	position: relative;
	display: inline-block;
}
}*/